{% extends 'structure.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock head %}

{% block body %}
<nav class="blue-grey darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo left">todo.com</a>
        <ul class="right">
            <li><a href="/createList">New List</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a class="red-text" href="/dashboard/delete/myself/{{ username }}">Delete Account</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Welcome, {{ username }}!</h1>
    <div id="lists" class="mobile">
        <h2>Your Lists</h2>
        <p class="grey-text" style="font-size: 150%;">Total: {{ total }}</p>
    </div>
    <div>
        <ul class="collection" id="fontincrease">
            {% for i in lists %}
            <li class="collection-item"><div><a href="/list/{{ i }}">{{ i }}&nbsp;&nbsp;<small class="grey-text" id="date">{{ lists[i] }}</small></a><div class="secondary-content"><a class="blue-text" href="/list/edit/{{ i }}">Edit</a>&nbsp;&nbsp;<a class="red-text" href="/list/delete/{{ i }}">Delete</a></div></div></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock body %}
