{% extends 'structure.html' %}

{% block head %}
<title>{{ list_name }}</title>
{% endblock head %}

{% block body %}
<nav class="blue-grey darken-3" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo left">todo.com</a>
        <ul class="right">
            <li><a href="/list/delete/items/{{ list_name }}">Clear List</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 class="header center">{{ list_name }}</h1>
    <br>
    <form action="/list/{{ list_name }}" method="POST">
        <label for="new_item_name" id="fontincrease">Enter Item Name:</label>
        <input type="text" name="itemname" id="new_item_name" placeholder="New Item Name">
        <br><br>
        <input type="submit" value="Add Item">
        <a class="btn-large waves-effect waves-light green cancel" href="/dashboard">Go Back</a>
    </form>
    <p class="grey-text lighten-1" style="font-size: 150%;">Total: {{ total }}</p>
    <ul class="collection" id="fontincrease">
        {% for item in items %}
        <li class="collection-item"><div>{{ item }}<div class="secondary-content"><a class="blue-text" href="/list/edit/{{ list_name }}/{{ item }}">Edit</a>&nbsp;&nbsp;<a class="red-text" href="/list/delete/{{ list_name }}/{{ item }}">Delete</a></div></div></li>
        {% endfor %}
    </ul>
</div>
{% endblock body %}
